
body {
    font-size: 16px;
    background-color: $dark-background;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: $lighter-background;
    box-shadow: 0 0 11px 1px $dark-text;
    height: 50px;
    width: 100%;
}

.main-container {
    margin-top: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    background: url('../img/bananur-logo.png') center center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 34px;
    width: 83px;
}

.btn {
    $default-bg-color: $brand-color;

    background-color: $default-bg-color;
    border: 1px solid $default-bg-color;
    border-radius: 3px;
    color: $dark-text;
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 1em;

    &:hover {
        background-color: darken($default-bg-color, 10%);
        border-color: darken($default-bg-color, 10%);
    }
}

.btn-link {
    @extend .btn;

    text-decoration: none;
}

.btn-block {
    @extend .btn;

    width: 100%;
}

.btn-panel {
    width: 100%;
    padding: 1em;
    background: none;
    border: none;
    box-shadow: none;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background-color: rgba($light-background, 0.5);

        .fa {
            color: $brand-color;
        }
    }
}

.custom-select {
    background-color: $light-background;
    border-radius: 3px;
    border: none;
    color: $text-color;
    padding: 5px 10px 4px 7px;
    outline: 0;
}

.input-group {
    padding: 0 0.5em;
    margin-bottom: 1em;
}

.topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .global-search {
        display: inline-block;
    }

    .user-nav {
        display: inline-flex;
        list-style: none;
        padding: 0;

        a {
            color: $text-color;
            padding: 0.5em 1em;
            text-decoration: none;

            &:hover {
                color: $brand-color;
            }
        }
    }

    .nav-section {
        display: inline-flex;
        align-items: center;
    }
}

.filters {
    color: white;
    font-size: 1.5em;
    line-height: 33px;
    margin: 50px 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.btn-icon {
    background: none;
    border: none;
    color: $text-color;
    cursor: pointer;

    &:hover {
        color: $brand-color;
    }

    &:focus {
        border: none;
    }
}
