
$brand-color: #ffef00;

$text-color: #f2f2f2;
$dark-text: #111;

$dark-background: #141518;
$light-background: #2c2f34;
$lighter-background: #34373c;
$background-highlight: #444442;
$placeholder-color: #8a8a8a;
