<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bananur</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="topbar">
                    <div class="nav-section">
                        <a href="/">
                            <div class="logo" alt="bananagur logo">
                            </div>
                        </a>

                        <a class="btn-link" href="/post/form.html">New post</a>
                    </div>

                    <div class="nav-section">
                        <div class="global-search">
                            <button class="btn-icon" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                        <ul class="user-nav">
                            <li>
                                <a href="/signin">sign in</a>
                            </li>
                            <li>
                                <a href="/signup">sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="filters">
                <span>The </span>
                <select class="custom-select" name="section">
                    <option value="hot" selected>Most Viral</option>
                    <option value="funny">Funnier</option>
                    <option value="inspiring">Most Inspiring</option>
                </select>
                <span>images on the Internet, sorted by </span>
                <select class="custom-select" name="sort">
                    <option value="viral" selected>popularity</option>
                    <option value="time">newest first</option>
                    <option value="score">highest scoring</option>
                </select>
            </div>
        </div>

        <div class="container">
            <div class="view-style">
                <button class="btn-icon">
                    <i class="fa fa-th"></i>
                </button>
                <button class="btn-icon">
                    <i class="fa fa-th-list"></i>
                </button>
            </div>

            <section class="gallery-container">
                <table class="gallery-table">
                    <thead>
                        <th>Image</th>
                        <th>Description</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="image-cell">
                                <a href="#">
                                    <figure>
                                        <img src="http://placehold.it/120x120" alt="">
                                    </figure>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    My banana OC
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td class="image-cell">
                                <a href="#">
                                    <figure>
                                        <img src="http://placehold.it/120x120" alt="">
                                    </figure>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    My banana OC
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </section>

            <section class="gallery-container">
                <div class="gallery">

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <div class="actions">
                                    <button class="btn-icon upvote">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>

                                    <button class="btn-icon downvote">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                </div>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>
                </div>
            </section>
        </div>

        <script src="/assets/bundle.js" charset="utf-8"></script>
    </body>
</html>
