<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bananur Sign</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <main>
      <div class="container">
        <div id="backbananur">
            <a href="/">back to Bananur</a>
        </div>

        <div class="signin-container">
            <a class="signin-logo" alt="bananaur logo">    
              <img src="/assets/images/_/img/bananur-logo.png" alt="bananur logo" />
            </a>
          
            <div class="signin-label">Sign In with</div>
            <div class="signin-social">
                <a class="sigin-facebook sigin" tabindex="1" href="#facebook"><i class="fa fa-facebook sigin-item" aria-hidden="true"></i></a>
                <a class="sigin-twiiter sigin" tabindex="2" href="#twitter"><i class="fa fa-twitter sigin-item" aria-hidden="true"></i></a>
                <a class="sigin-google sigin" tabindex="3" href="#google"><i class="fa fa-google-plus sigin-item" aria-hidden="true"></i></a>
                <a class="sigin-yahoo sigin" tabindex="4" href="#yahoo"><i class="fa fa-yahoo sigin-item" aria-hidden="true"></i></a>
                <div class="clear"></div>
            </div>

            <div class="signin-label">or with bananur</div>
            <div class="signin-register">
              <input class="sing-input signin-bananur" type="text" tabindex="5" name="url" maxlength="255" id="username" placeholder="Username or Email">
              <div class="password">
                <input class="sing-input signin-bananur" type="password" tabindex="6" name="password" maxlength="255" id="password" placeholder="Password">
                <a class="forgot-password" title="forgot password" href="#">forgot?</a>
              </div>
            </div>

            <div class="register-buttons">
              <a class="normal-sigin" href="https://imgur.com/signin">need an account?</a>
              <button class="btn-sign" name="next" tabindex="9" type="button">Sign In</button>
            </div>
        </div>
      </div>
    </main>

    <script src="/assets/bundle.js" charset="utf-8"></script>
  </body>
</html>