<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bananur</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="topbar">
                    <div class="nav-section">
                        <a href="/">
                            <div class="logo" alt="bananagur logo">
                            </div>
                        </a>
                        <a class="btn-link" href="/post">New post</a>
                    </div>

                    <div class="nav-section">
                        <div class="global-search">
                            <button class="btn-icon" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                        <ul class="user-nav">
                            <li>
                                <a href="/signin">sign in</a>
                            </li>
                            <li>
                                <a href="/signup">sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="profile-container">
            <div class="profile-gallery-container">
                    <div class="panel" id="comments">
                        <h2>Gallery comments</h2>
                        <nav class="nav-filter">
                            <ul class="nav-list">
                                <li><a href="#">Newest</a></li>
                                <li><a href="#">Oldest</a></li>
                                <li><a href="#">Best</a></li>
                                <li><a href="#">Worst</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="panel hide" id="submitted" hidden>
                        <h2>Submitted Images</h2>
                        <nav class="nav-filter">
                            <ul class="nav-list">
                                <li><a href="#">Newest</a></li>
                                <li><a href="#">Oldest</a></li>
                                <li><a href="#">Best</a></li>
                                <li><a href="#">Worst</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="panel hide" id="favorites" hidden>
                        <h2>Gallery Favorites</h2>
                        <nav class="nav-filter">
                            <ul class="nav-list">
                                <li><a href="#">Newest</a></li>
                                <li><a href="#">Oldest</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="panel hide" id="replies" hidden>
                        <h2>Replies</h2>
                        <nav class="nav-filter">
                            <ul class="nav-list">
                                <li><a href="#">Buscar</a></li>
                                <li><a href="#">Chat</a></li>
                                <li><a href="#">Notificacion</a></li>
                                <li><a href="#">Usuario</a></li>
                            </ul>
                        </nav>
                    </div>

                    <section class="profile-gallery">
                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>

                    <a href="#" class="post-preview">
                        <article class="">
                            <figure>
                                <img src="http://placehold.it/180x180" alt="">
                                <figcaption class="caption">My banana OC</figcaption>
                            </figure>
                        </article>
                    </a>
                </section>
            </div>
            <div class="profile-sidebar">
                    <div class="panel menu">
                        <a active>Comments</a>
                        <a>Submitted Images</a>
                        <a>Gallery Favorites</a>
                        <a>Replies</a>
                    </div>

                    <div class="panel">
                        <textarea name="name" rows="1" cols="20">Hola</textarea>
                        <legend>0 Reputacion Desde 2017</legend>
                    </div>

                    <div class="panel">
                        <h3>aside</h3>
                        <img src="http://placehold.it/180x180" alt="">
                    </div>
             </div>
         </div>

        <script src="/assets/bundle.js" charset="utf-8"></script>
    </body>
</html>
