
.gallery-table {
    border-collapse: collapse;
    border-spacing: 0;
    color: $text-color;
    width: 100%;

    a {
        color: inherit;
        text-decoration: none;
    }

    td, th {
        border-bottom: 1px solid $placeholder-color;
    }

    th {
        padding: 0.5em;
    }

    .image-cell {
        padding: 0.5em;
        width: 120px;

        figure {
            height: 120px;
            margin: 0;
            position: relative;
            width: 120px;
        }

        img {
            width: 100%;
        }

    }

    .actions {
        background: -moz-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.65) 14%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.65) 14%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.65) 14%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        height: 2em;
        left: 0px;
        text-align: right;
        bottom: 0px;
        position: absolute;
        width: 100%;

        .downvote:hover {
            color: red;
        }
    }
}
