
.custom-select {
    background-color: $light-background;
    border-radius: 3px;
    border: none;
    color: $text-color;
    padding: 5px 10px 4px 7px;
    outline: 0;
}

.input-group {
    padding: 0 0.5em;
    margin-bottom: 1em;
}
