<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Bananur</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="bananur-logo" href="../img/bananur-logo.png">
        <link rel="stylesheet" href="../css/normalize.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <img src="../img/bananur-logo.png" alt="" class="logo">
                <h1 class="title">Bananur</h1>
                <nav>
                    <ul class="nav-list">
                        <li><a href="#">Buscar</a></li>
                        <li><a href="#">Chat</a></li>
                        <li><a href="#">Notificacion</a></li>
                        <li><a href="#">Usuario</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                  <div class="container" id="comments">
                    <div class="">
                      <h2>Gallery comments</h2>
                      <nav>
                          <ul class="nav-list">
                              <li><a href="#">Newest</a></li>
                              <li><a href="#">Oldest</a></li>
                              <li><a href="#">Best</a></li>
                              <li><a href="#">Worst</a></li>
                          </ul>
                      </nav>
                    </div>
                  </div>
                  <div class="container" id="submitted" hidden>
                    <div class="">
                      <h2>Submitted Images</h2>
                      <nav>
                          <ul class="nav-list">
                              <li><a href="#">Newest</a></li>
                              <li><a href="#">Oldest</a></li>
                              <li><a href="#">Best</a></li>
                              <li><a href="#">Worst</a></li>
                          </ul>
                      </nav>
                    </div>
                  </div>
                  <div class="container" id="favorites" hidden>
                    <div class="">
                      <h2>Gallery Favorites</h2>
                      <nav>
                          <ul class="nav-list">
                            <li><a href="#">Newest</a></li>
                            <li><a href="#">Oldest</a></li>
                          </ul>
                      </nav>
                    </div>
                  </div>
                  <div class="container" id="replies" hidden>
                    <div class="">
                      <h2>Replies</h2>
                      <nav>
                          <ul class="nav-list">
                              <li><a href="#">Buscar</a></li>
                              <li><a href="#">Chat</a></li>
                              <li><a href="#">Notificacion</a></li>
                              <li><a href="#">Usuario</a></li>
                          </ul>
                      </nav>
                    </div>
                  </div>

                    <header>
                        <button class="post-button" type="button" name="button">New Post</button>
                        <h1>Whats New?</h1>
                    </header>
                    <section>
                        <table class="table-images">
                          <tbody>
                            <tr class="images">
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                            </tr>
                            <tr class="images">
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                            </tr>
                            <tr class="images">
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                              <td><img src="http://placehold.it/180x180" alt=""></td>
                            </tr>
                          </tbody>
                        </table>
                    </section>
                    <footer>

                    </footer>
                </article>

                <aside>
                    <nav>
                      <ul class="options">
                        <li><a href="#comments" active>Comments</a></li>
                        <li><a href="#submitted">Submitted Images</a></li>
                        <li><a href="#favorites">Gallery Favorites</a></li>
                        <li><a href="#replies">Replies</a></li>
                      </ul>
                    </nav>
                </aside>

                <aside>
                    <textarea name="name" rows="1" cols="20">Hola</textarea>
                    <legend>0 Reputacion Desde 2017</legend>
                </aside>

                <aside>
                    <h3>aside</h3>
                    <img src="http://placehold.it/180x180" alt="">
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>© 2017 Bananur, Inc.</h3>
            </footer>
        </div>
    </body>
</html>
